<?xml version="1.0"?>
<model>
  <name>Warehouse pallet with 310 x 220 x 220 mm box</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Tai Robot One</name>
  </author>
  <description>
    A 340 x 250 x 35 mm two-runner pallet carrying one 310 x 220 x 220 mm box.
  </description>
</model>
